<head>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<div class="foot">

<div class="container">
<div class="row">
    <div class="col-sm-6" id="mca">
       
        <div class="col-sm-4">
            <ul>
                <a href="">Blog</a><br/>
                <a href="">Sitemap</a><br/>
                <a href="">FAQ</a><br/>
                <a href="">Contact</a><br/>
            </ul>
        </div>

        <div class="col-sm-4">
                <ul>
                    <a href="">Adventure</a><br/>
                    <a href="">Action</a><br/>
                    <a href="">Animation</a><br/>
                    <a href=""i>Biography</a><br/>
                    <a href="">Comedy</a><br/>
                </ul>
            </div>

            <div class="col-sm-4">
                    <ul>
                        <a href="">Asia</a><br/>
                        <a href="">China</a><br/>
                        <a href="">Euro</a><br/>
                        <a href="">France</a><br/>
                        <a href="">Honk Kong</a><br/>
                    </ul>
                </div>

    </div>
    <div class="col-sm-6" id="connect">
           

            <h4>Connect with us..</h4>

            <i class="fa fa-facebook" style="font-size:40px;color:white;padding-right:10px;"></i>
                    <i class="fa fa-twitter" style="font-size:40px;color:white;padding-right:10px"></i>
                    <i class="fa fa-instagram" style="font-size:40px;color:white;"></i>

        </div>
        
</div>
</div>
</div>