<div class="carousel slide"id="myCarousel">
        
                <!--Indicators-->
                <ol class="carousel-indicators">
                    <li class="active" data-slide-to="0" data-target="#myCarousel"></li>
                    <li data-slide-to="1" data-target="#myCarousel"></li>
                    <li data-slide-to="2" data-target="#myCarousel"></li>
                    
        
        
        
                </ol>
                   <!-- Wrapper for slides -->
                   <div class="carousel-inner">
                       <div class="item active" id="slide1">
                           <div class="carousel-caption">
                           <h3>It</h3>
                           <h5>In the Town of Derry,the local kids are disappearing one by one leaving behind bloody remains.In a place known as 'The Barrens', a group of seven kids are united by their horrifying and strange encounters with an evil clown and their destination to...</h5>
                           </div>
                           </div>
        
                           <div class="item" id="slide2">
                           <div class="carousel-caption">
                           <h3>Annabelle:Creation</h3>
                           <h5>Several years after the tragic death of their little girl,a dollmaker and his wife welcome a nun and several girls from a shuttered orphanageinto their home,soon becoming the target of the dollmaker's possessed creation Annabelle.</h5>
                           </div>
                           </div>
        
                           <div class="item" id="slide3">
                           <div class="carousel-caption">
                           <h3>The Hitman's Bodyguard</h3>
                           <h5>The world's top bodyguard gets a new client,a hitman who must testify at the International Court of Justice. They must put their differences aside and work together to make it to the trial on time.</h5>
                           </div>
                           </div>
        
                   </div>
                   <a class="left carousel-control" data-slide="prev" href="#myCarousel"><span class="icon-prev"></span></a>
                   <a class="right carousel-control" data-slide="next" href="#myCarousel"><span class="icon-next"></span></a>
        
        
                </div><!--end myCarousel"-->
<!--
   <img src="https://image.tmdb.org/t/p/w1400_and_h450_bestv2//tcheoA2nPATCm2vvXw2hVQoaEFD.jpg"/>

   <img src="https://image.tmdb.org/t/p/w1400_and_h450_bestv2/ibianpvL865w7rBPAg3sPlEXUyh.jpg"/>-->