.image { 
    position: relative; 
    
 }
 
 .movietitle { 
    position: absolute; 
    top: 80px; 
    left: 0; 
    width: 100%;
    text-align: center;
    color:white; 
    
 }

 h5 span { 
    color: white; 
    
      
    
    background: rgba(0, 0, 0, 0.9);
     
 }