
             
           
          
        


         
     <body>
            
            

            <div class= "container">
                    <div *ngIf="moviedatas">
                        
                         <h4>Your Search results:</h4>
                                
                            <ul *ngFor = " let data of moviedatas.results">
                                    <div class="col-sm-2">
                                
                                 
                                         
                                    <div class="panel">
                                            <div class="panel-body" style="background-color: white ;">
                                    
                                   <a  [routerLink] = "['/movie', data.id]" class="image">  
                                            
                               <img src="https://image.tmdb.org/t/p/w1000/{{data.poster_path}}" style=" height: 250px;"/>
                                            
                                            
                                                <h5 class="movietitle"><span>{{data.title}}</span></h5>    
                                   </a>
                                </div>
                                </div>
                                </div>
                             
                        </ul>
                        </div>    
                 
                 </div>
                 
            
                 
     </body>